<%= form_for(device) do |f| %>
    <% if device.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

          <ul>
            <% device.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :kind %><br>
      <%= f.select :kind, Device.kinds.keys %>
    </div>

    <div class="field">
      <%= f.label :brand %>
      <%= f.text_field :brand %>
    </div>

    <div class="field">
      <%= f.label :model %>
      <%= f.text_field :model %>
    </div>

    <div class="field">
      <%= f.label :serial_number %>
      <%= f.text_field :serial_number %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
